body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: "Stack Sans Notch", sans-serif;
    font-weight: 300;
    background-color: #0D1117;
}

.block {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0d1117;
    z-index: 10;
    pointer-events: none;
}

.block > div {
    display: flex; 
    width: 100%;
    height: 100%;
    align-items: center;
    pointer-events: none;
}

.suggestion_text {
    position: absolute; 
    bottom: 25%; 
    left: 25%; 
    color:#ecf2f8; 
    display:block; 
    width: 50%; 
    text-align: center; 
    opacity:0.5;
}

/* p {
    font-size: 1.5em;
} */

.b_text {
    color:#ecf2f8;
    /* font-family: sans-serif; */
    display: block;
    position: absolute;
    width: 50%;
    left: -125%;
    font-size: 1.5em;
    text-align: center;
}

#treemap-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #0d1117;
}

.sidebar > p {
    display: block;
    /* border-color: white; */
    /* border-width: 1px; */
    /* border-style: solid; */
    /* background-color: black; */
    /* border-radius: 0.25em; */
    /* padding: 1em; */

    /* margin: 1em; */
    margin-top: 0.5em;
    position: relative;
    top: -150%;
    /* text-align: justify; */
    /* transition: all; */
}

.sidebar > h3 {
    margin-left: 1em;
    color: #ecf2f8;
    font-size: 2em;
    margin-bottom: 0;
}

.unselected_text {
    display: block;
    border-color: #ecf2f8;
    border-width: 0px;
    border-style: solid;
    background-color: none;
    border-radius: 0.0em;
    padding: 0em;

    margin: 1.25em;
    color: #89929b;
    /* font-family: sans-serif; */
    font-size: 1.5vh;
    transition: all 0.8s ease-in-out;
}

.selected_text {
    display: block;
    border-color: #ecf2f8;
    border-width: 1px;
    border-style: solid;
    background-color: #161b22;
    border-radius: 0.1em;
    padding: 1em;

    margin: 0.5em;
    color: #ECF2F8;
    /* font-family: sans-serif; */
    font-size: 2.25vh;
    transition: all 0.8s ease-in-out;
    /* margin-top: 300%; */
}

.sidebar {
    position: absolute;
    display: flex;
    width: 30%;
    flex-grow: 0;
    flex-direction: column;

    left: 0;
    height: 100%; 
    background-color: #21262ddd;
    z-index:5;
    opacity: 0.0;
    overflow-y: scroll;
}

#info-button {
    position:absolute; 
    top: 1vmin;
    right:1vmin;
    z-index:10000;
    height:3vmin;
    width:3vmin;
    fill: #ecf2f8;
    /* border: ;
    background-color: white; */
}

#citations-list {
    padding-left: 8px;
    padding-right: 4px;
    font-size: 7px;
    /* margin: 0.5em; */
}

#citations-list > li {
    margin-bottom: 0.4em;
    color: #c6cdd5;
}
#citations-list > li > b {
    /* margin-bottom: 0.5em; */
    font-size: 10px;
    color: #ecf2f8;
}

#legend {
    padding: 2px;
}

.legend_item {
    display: flex;
    height: 12%;
    font-size: 8px;
    color: #ecf2f8;

    /* border-top: 1px solid #0D1117; */
    border-bottom: 1px solid #0D1117;
    padding: 2px;
}

.legend_colorbox {
    height: 90%;
    width: 20%;
    display: block;

    border: 1px solid #ecf2f8;
}

.legend_item > p {
    margin: 0;
    width: 80%;
    padding-left: 6px;
    /* text-align: center; */
    /* vertical-align: middle; */
    line-height: 1em;
}