body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: "Stack Sans Notch", sans-serif;
}

/* p {
    font-size: 1.5em;
} */

.b_text {
    color:white;
    /* font-family: sans-serif; */
    display: block;
    position: absolute;
    width: 50%;
    left: -125%;
    font-size: 1.5em;
    text-align: center;
}

#treemap-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: grey;
}

.sidebar > p {
    display: block;
    /* border-color: white; */
    /* border-width: 1px; */
    /* border-style: solid; */
    /* background-color: black; */
    /* border-radius: 0.25em; */
    /* padding: 1em; */

    /* margin: 1em; */
    margin-top: 0.5em;
    position: relative;
    top: -150%;
    text-align: justify;
    /* transition: all; */
}

.sidebar > h3 {
    margin-left: 1em;
    color: #ecf2f8;
    font-size: 2em;
}

.unselected_text {
    display: block;
    border-color: white;
    border-width: 0px;
    border-style: solid;
    background-color: none;
    border-radius: 0.0em;
    padding: 0em;

    margin: 1.25em;
    color: #89929b;
    /* font-family: sans-serif; */
    font-size: 1.75vh;
    transition: all 0.8s ease-in-out;
}

.selected_text {
    display: block;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    background-color: #161b22;
    border-radius: 0.1em;
    padding: 1em;

    margin: 0.5em;
    color: #ECF2F8;
    /* font-family: sans-serif; */
    font-size: 2.5vh;
    transition: all 0.8s ease-in-out;
    /* margin-top: 300%; */
}

.sidebar {
    position: absolute;
    display: flex;
    width: 30%;
    flex-grow: 0;
    flex-direction: column;

    left: 0;
    height: 100%; 
    background-color: #21262dbb;
    z-index:5;
    opacity: 0.0;
    overflow-y: scroll;
}

#info-button {
    position:absolute; 
    top: 1vmin;
    right:1vmin;
    z-index:10000;
    height:3vmin;
    width:3vmin;
    fill: white;
    /* border: ;
    background-color: white; */
}

#citations-list {
    font-size: 10px;
}

#citations-list > li {
    margin-bottom: 5px;
    color: white;
}