body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

/* p {
    font-size: 1.5em;
} */

.b_text {
    color:white;
    font-family: sans-serif;
    display: block;
    position: absolute;
    width: 50%;
    left: -125%;
    font-size: 1.5em;
    text-align: center;
}

#treemap-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: grey;
}

.sidebar > p {
    display: block;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    background-color: black;
    border-radius: 0.25em;
    padding: 1em;

    margin: 1em;
    color: white;
    font-family: sans-serif;
    font-size: 1.0vw;
    margin-top: 300%;
    /* position: relative; */
    /* top: -200%; */
}

.sidebar {
    position: absolute;
    display: flex;
    max-width: 30%;
    flex-grow: 0;
    flex-direction: column;

    left: 0;
    height: 100%; 
    background-color: rgba(0.0, 0.0, 0.0, 0.7);
    z-index:5;
    opacity: 0.0;
    overflow-y: scroll;
}